:root {
    --primary-color: #055a55;
    --secondary-color: #f4a261;
    --accent1-color: rgb(38, 70, 83);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 20px;
}

header img {
    width: 100px;
    justify-self: start;
    border-radius: 10px;
    height: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #fff;
    color: #000;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav li {
    padding: 20px
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.hero h1,
section h2,
section h3 {
    font: var(--heading-font);
    margin: 16px;
    text-align: center;
    padding: 8px;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--secondary-color);
    opacity: 0.9;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

/* Ensure the text inside the article is readable */
.hero article p {
    font: var(--body-font);
    margin: 0;
    padding: 0;
    color: #000;
}

.hero h1 {
    font: var(--heading-font);
    position: absolute;
    top: 20px;
    left: 0;
    /* Align to the left edge of the hero div */
    width: 100%;
    margin: 0;
    /* Overwrite the general h1 margin to prevent gaps */
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    /* Makes the text wrap around the smaller image */
    width: 125px;
    margin-left: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

.History {
    display: flex;
    align-items: center;
}

.History img {
    padding: 0 20px 0 20px;
    width: 300px;
}

.Adventures {
    display: flex;
    justify-content: center;
}

figure {
    padding: 0 10px 0 10px;
}

footer nav {
    display: flex;
    justify-content: right;
}

main h1,
main h3 {
    margin-top: 5px;
    display: block;
    color: #000;
    text-align: center;
}

section h2 {
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

form {
    display: grid;
    margin: 100px;
}

.radio {
    display: flex;
}

label {
    padding: 10px
}

.name-item,
.email-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

iframe {
    border: 0;
}